@import './reset.css';

body {
  font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
}

h1,
h2 {
  margin-bottom: 1rem;
}

button {
  padding: 0.25rem 0.5rem;

  text-transform: uppercase;
  font-size: 0.725rem;
}

.center {
  display: grid;
  place-items: center;
}
